
ollama
langchain_ollama
langchain_core

openai

transformers>=4.40
datasets>=2.18
evaluate>=0.4
accelerate>=0.30
peft>=0.10
trl>=0.9
huggingface_hub[hf_xet]
bitsandbytes>=0.39

scikit-learn

langgraph
requests
pydantic
beautifulsoup4
python-dotenv




